<div class="profile-page-wrapper">
  <div class="profile-card">
    <div class="profile-header">
      <h2>Configurações de Perfil</h2>
      <p>Gerencie suas informações pessoais e credenciais de acesso.</p>
    </div>

    <div *ngIf="mensagem" [class]="'alert-box ' + mensagem.tipo">
      {{ mensagem.texto }}
    </div>

    <form
      [formGroup]="profileForm"
      (ngSubmit)="onSubmit()"
      class="profile-form"
    >
      <div class="form-section">
        <div class="input-group">
          <label>Nome Completo</label>
          <input
            type="text"
            formControlName="nome"
            placeholder="Ex: Seu nome Sobrenome"
          />

          <div class="validation-helper">
            <small
              class="helper-text"
              [class.text-danger]="
                profileForm.get('nome')?.invalid &&
                profileForm.get('nome')?.dirty
              "
            >
              O nome deve ter no mínimo 3 letras.
            </small>
          </div>
        </div>

        <div class="input-group">
          <label>E-mail Institucional</label>
          <input
            type="email"
            formControlName="email"
            placeholder="seuemail@exemplo.com"
          />

          <div class="validation-helper">
            <small
              class="helper-text text-danger"
              *ngIf="
                profileForm.get('email')?.invalid &&
                (profileForm.get('email')?.dirty ||
                  profileForm.get('email')?.touched)
              "
            >
              <span *ngIf="profileForm.get('email')?.errors?.['required']"
                >O e-mail é obrigatório.</span
              >
              <span *ngIf="profileForm.get('email')?.errors?.['email']"
                >Formato de e-mail inválido.</span
              >
            </small>
          </div>
        </div>

        <div class="input-group">
          <label>Nova Senha</label>
          <input
            type="password"
            formControlName="senha"
            placeholder="Deixe vazio para não alterar"
          />

          <div class="validation-helper">
            <small
              class="helper-text"
              [class.text-danger]="
                profileForm.get('senha')?.invalid &&
                profileForm.get('senha')?.value
              "
            >
              A senha deve ter no mínimo 6 caracteres se for alterada.
            </small>
          </div>
        </div>
      </div>

      <div class="form-footer">
        <button type="button" class="btn-cancel" (click)="voltar()">
          Cancelar
        </button>
        <button
          type="submit"
          class="btn-save"
          [disabled]="profileForm.invalid || loading"
        >
          {{ loading ? "Salvando..." : "Salvar Alterações" }}
        </button>
      </div>
    </form>
  </div>
</div>
